
.wrapper {
    padding-top: 0px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;

  }

img {
  width: 200px;
  height: 200px;
}

.card {
  margin: 10px;
  
}